@import url('https://fonts.googleapis.com/css?family=Poppins|Saira+Condensed|Ubuntu&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  font-weight: 650;
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-image: url("https://cdn.pixabay.com/photo/2016/07/22/16/29/fog-1535201_1280.jpg");
  background-size: cover;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
}

.App-link {
  color: #09d3ac;
}

#Title {
  color: rgb(80, 149, 179);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#search-bar {
  padding: 15px 10px;
  width: 100vw;
  background-color:rgba(80, 149, 179, 0.3);
}

#top-bar {
  height: auto;
  width: 100vw;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
}

.header {
  display: flex;
  justify-content: space-around;
  padding: 20px 5px;
  background-color:rgba(19, 132, 180, 0.3);
}

.container {
  margin-top: 10px;
  width: 60% !important;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color:rgba(80, 149, 179, 0.3);
  border-radius: 10px;
  color: #e9f0eb;
}

.cards {
  padding: 5px;
  width: 50%;
}

.card-right {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

textarea:focus, input:focus, input {
  outline: none;
  background: transparent;
  border: none;
  border-bottom: 2px solid rgb(80, 149, 179) !important;
  color: rgb(80, 149, 179);
  padding: 5px;
}

input::placeholder {
  color: rgb(80, 149, 179);
}

button {
  color: rgb(80, 149, 179);
  background-color: transparent;
  border: 2px solid rgb(80, 149, 179);
  border-radius: 12px;
}

#metricToggle {
  border-radius: 12px;
  padding: 5px;
}

.span {
  display: flex;
  padding: 5px;
}

#getWeatherBtn {
  margin-left: 10px;
}

.pre-search {
  margin-top: 100px !important;
  margin: auto;
  color: rgb(80, 149, 179);
  width: 70%;
  text-align: center;
  align-content: center;
}

.savedWeatherList {
  color: white;
  display: inline-flex;
  justify-content: center;
  align-content: center !important;
  background-color:rgba(80, 149, 179, 0.3);
  padding: 10px;
  font-size: 20px;
  width: 200px;
  height: auto;
  margin: auto;
  margin: 10px 5px;
  border-radius: 15px;
  text-align: center;
}

.savedItem {
  text-align: center !important;
  align-content: center !important;
  align-items: center !important;
}

.save-location-btn {
  font-size: 22px !important;
  color: white !important;
}

.plus-btn {
  font-size: 30px !important;
}

.removeOnHover {
  width: 22px;
  height: 22px;
  text-align: center;
  margin-left: 15px;
  border-radius: 50% 50%;
  background-color: #660A0A;
  cursor: cell;
}